.ding-cai {
    margin-top: 40px;
    padding:10px 0 ;
    position: relative;
    text-align: center;
    background: #202020;
}
.ding-cai a.ding, .ding-cai a.cai, .ding-cai a.laotu {
    background: url("../img/bgs_ding_cai.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #CCCCCC;
    cursor: pointer;
    display: inline-block;
    line-height: 96px;
    margin: 0 20px;
    overflow: hidden;
    width: 72px;
	height: 72px;
	border-radius: 50px;
}
.ding-cai a.d-selected, .ding-cai a.ding:hover {
    background-position: 0 -72px;
    color: #202020;
    text-decoration: none;
}
.ding-cai a.cai {
    background-position: -72px 0;
}
.ding-cai a.c-selected, .ding-cai a.cai:hover {
    background-position: -72px -72px;
    color: #202020;
    text-decoration: none;
}
.ding-cai a.laotu {
    background-position: 0 -144px;
}
.ding-cai a.l-selected, .ding-cai a.laotu:hover {
    background-position: -72px -144px;
    color: #202020;
    text-decoration: none;
}
.ding-cai .laotu-tips {
    background: none repeat scroll 0 0 #FDF9E1;
    border-radius: 5px;
    color: #CC9933;
    display: inline-block;
    height: 27px;
    left: 537px;
    line-height: 24px;
    opacity: 0;
    overflow: hidden;
    padding: 4px 10px 0;
    position: absolute;
    top: -10px;
}
.ding-cai .laotu-tips img {
    margin-right: 6px;
    vertical-align: top;
}